<div class="container mx-auto border" style="padding:0px;margin:0px">

  <table class="table table-bordered table-striped">
  <caption>There are no patients you are seeing now.</caption>
    <thead>
      <tr>
        <th>Date</th>
        <th>Visit type</th>
        <th>Diagnosed with</th>

      </tr>
    </thead>  
    <tbody>

      <tr class ="clickable" (click)="showDetail(item)">

        <td>May 23 2019</td>
        <td>Call</td>
        <td>Flu</td>
       
      </tr>
      <tr class ="clickable" (click)="showDetail(item)">

        <td>October 03 2019</td>
        <td>Test</td>
        <td>Flu</td>
       
      </tr>
     
    </tbody>
  </table>
</div>


