.hero {
    min-height: 58vh;
    border-bottom: 1px solid #f7f6ff;
    padding-bottom: 113px;
}
.pt-3, .py-3 {
    padding-top: 1rem!important;
}
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}





xxxxxx


.hero {
    min-height: 58vh;
    border-bottom: 1px solid #f7f6ff;
    padding-bottom: 113px;
}
.pt-3, .py-3 {
    padding-top: 1rem!important;
}
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


