<div class="container"  >
<div class="row flex-lg-nowrap">
  
  <div class="col">
    <div class="row">
      
      <div class="col mb-3">
        <div class="card border-bottom-0">
         <div class="card-body">
            <div class="form-group">
              <label>Available now?</label>
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultUnchecked"  value="Male" formControlName="gender"/>
                    <label class="custom-control-label" for="defaultUnchecked">Yes</label>
                  </div>

                  <!-- Default checked -->
                 
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultChecked" value="Femail" formControlName="gender"/>
                    <label class="custom-control-label" for="defaultChecked">No</label>
                  </div>
                 
            </div>
         </div>
        </div>
       </div>
       
      <div class="col-12 col-md-3 mb-3" style="width:600px">
        
        <div class="card">
          <div class="card-body">
            <h6 class="card-title font-weight-bold">Support</h6>
            <p class="card-text"><span style="color:green">Phone</span>: +251944311213</p>
            <p class="card-text"><span style="color:green">Email</span>: haala@gmail.com</p>
            <button type="button" class="btn btn-primary">Contact Us</button>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
</div>
</div>



